*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: outfit, sans-serif;
}

body, .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
body {
    width: 100%;
    height: 100vh;
    background-color: #000;
}
  
.container {
    width: 1440px;
    height: 800px;
    background-color: hsl(212deg 45% 89%);
}
  
.card {
    width: 320px;
    height: 500px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    flex-direction: column;
    box-shadow: 0px 20px 10px #cedae8;    
}
  
.card > img {
    width: 100%;
    height: 290px;
    border-radius: 10px;
}
  
.card > div {
    width: 250px;
    text-align: center;
    flex-direction: column;
}
  
.card > div > p {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0;
    color: hsl(218, 44%, 22%);
}
  
.card > div > span {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}